@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ===================================================
            Global CSS Start here 
==================================================== */

:root {
  --bodyFont: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 10px;
  font-family: var(--bodyFont);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: aqua;
}

.container .A {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid black;
  height: 200px;
  background-color: #96caef;
  color: white;
  font-size: 50px;
}

.container .B {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid black;
  float: left;
  background-color: #8de4af;
  color: white;
  font-size: 50px;
}

.container .C {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid black;
  float: left;
  background-color: #e7717d;
  color: white;
  font-size: 50px;
}

@media (max-width: 767px) {
  .A {
    order: 2;
  }
  .B {
    order: 3;
  }
  .C {
    order: 1;
  }
}
